header
  nav.nav__top
    img.nav__top--logo(src="/img/my-logo.png")
    ul.nav__top--list
      li: a(href="#") Dashboard
      li: a(href="/play") Play
      if user 
        li: .logout(onclick='logoutUser()')= user.username

