<!DOCTYPE html>
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(type="text/css" href="/css/index.css" rel="stylesheet")
    title My Document

  body
    // HEADER
    include _header

    // BODY
    block content
    h1 check

    // FOOTER