extends base

block content 
  h1 Welcome to cypher.
  if user    
    a(class="waves-effect waves-light btn home-cta" href="/play") Play
  else
    a(class="waves-effect waves-light btn home-cta" href="/login") Login