extends base

block content
  h1 login
  .login-form
    form
      label.login-form__username Username
      input#username(type='text' name='username' placeholder='username' required)

      label.login-form__password Password
      input#password(type='password' name='password' placeholder='********' required)

      button(class="btn waves-effect waves-light" type="submit" name="action") Submit

block append scripts
  script(src="/js/login.js")
